
/* 
 * Student Info: Name=PriyankaBolisetty, ID=15400
 * Subject: CS557A_HW3_Summer_2016
 * Author: Expression Priyanka is undefined on line 6, column 27 in file:///Users/priyanka/NetBeansProjects/Priyanka_15400_CS557A_HW3
 * Filename: Expression Priyanka_CS557_15400_HW3 is undefined on line 7, column 29 in file:///Users/priyanka/NetBeansProjects/Priyanka_15400_CS557A_HW3.
 * Date and Time: Jun 10, 2016 7:27:02 AM
 * Project Name: Priyanka_15400_CS557A_HW3
 */

.page{
    background-color: rgb(255, 240, 180);
}

header{
    height: 30%;
    text-align: center;
    font-size: 30px;
    color: rgb(158, 0, 0);
    padding: 10px 0px;
    font-weight: bold;
    background-color: rgb(255, 240, 180);
}

.menu{
    height: 30%;
    font-size: 30px;
    padding: 3px 0px;
    background-color: rgb(158, 0, 0);
}    

span{
    padding: 2px 20px;  
}

a{
    text-decoration: none;
    color: white;
}

image{
    width:50%;
    height: 15%;
}

.sidebar{
    float: left;
    width: 200px;
}

.mainContent{
    float: left;
    width: 1060px;
    background-color: white;
    height: 465px;
    /*text-align: center;*/
    background-color: rgb(255, 240, 180);
}

h2{
    padding-top: 20px;
    padding-left: 65px;
}

#userInfo{
    width: 65%;
    font-size: 30px;
    margin: 1em 2em 3em 0.75em; /* .5em top, 0 right and left, .25em bottom */
    margin-left: 60px;
}

#submit, #cancel{
    font-size: 100px;
}

table, th, td {
   padding: 3px;
   text-align: left;
}

footer{
    height: 3%;
    text-align: center;
    padding-top: 5px;
    color: white;
    clear: both;
    background-color: rgb(158, 0, 0);;
}

/* Styles related to Games page */
#panel {
    height: 90px;
    width: 60%;
    margin: 15px;
    float: left;
}

.box {
    height: 85px;
    width: 15%;
    padding: 5px;
    display: inline-block;
}
.letter {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    padding: 11px;
    margin: 10px 10px 10px 10px;
}

[data-drop-target] {
    height: 81px;
    width: 13%;
    margin: 10px;
    background-color: lightslategray;
    float: left;
}
.drag-enter {
    border: 2px dashed #000;
}

#gameBtnArea{
    clear: both;
    padding-top: 50px;
    margin-left: 20px;
}

.gameBtns{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

#timer{
    padding: 20px;
    margin-right: 5px;
    background-color: #4CAF50;
    float: right;
    width: 120px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}